<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ua.meugen.android.levelup.homework1">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".Homework">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.order1.ActivityAOrder1"
            android:label="@string/lablel_activity_a" />
        <activity android:name=".activities.order1.ActivityBOrder1"
            android:label="@string/lablel_activity_b" />
        <activity android:name=".activities.order1.ActivityCOrder1"
            android:label="@string/lablel_activity_c"
            android:noHistory="true" />
        <activity android:name=".activities.order1.ActivityDOrder1"
            android:label="@string/lablel_activity_d" />

        <activity
            android:name=".activities.order2.ActivityAOrder2"
            android:label="@string/lablel_activity_a"
            android:launchMode="singleTop"
            android:allowTaskReparenting="true"
            android:taskAffinity=""/>
        <activity android:name=".activities.order2.ActivityBOrder2"
                  android:label="@string/lablel_activity_b" />
        <activity android:name=".activities.order2.ActivityCOrder2"
                  android:label="@string/lablel_activity_c" />
        <activity android:name=".activities.order2.ActivityDOrder2"
                  android:label="@string/lablel_activity_d" />
    </application>

</manifest>