<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ua.meugen.android.levelup.homework1">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".Homework">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.scenario1.ActivityAScenario1"
            android:label="@string/lablel_activity_a"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".activities.scenario1.ActivityBScenario1"
            android:label="@string/lablel_activity_b"
            android:parentActivityName=".activities.scenario1.ActivityAScenario1"/>
        <activity android:name=".activities.scenario1.ActivityCScenario1"
            android:label="@string/lablel_activity_c"
            android:noHistory="true"
                  android:parentActivityName=".activities.scenario1.ActivityBScenario1"/>
        <activity android:name=".activities.scenario1.ActivityDScenario1"
            android:label="@string/lablel_activity_d"
                  android:parentActivityName=".activities.scenario1.ActivityBScenario1"/>

        <activity
            android:name=".activities.scenario2.ActivityAScenario2"
            android:label="@string/lablel_activity_a"
            android:launchMode="singleTask"
            android:allowTaskReparenting="true"
            android:taskAffinity=""
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".activities.scenario2.ActivityBScenario2"
                  android:label="@string/lablel_activity_b"
            android:parentActivityName=".activities.scenario2.ActivityAScenario2"/>
        <activity android:name=".activities.scenario2.ActivityCScenario2"
                  android:label="@string/lablel_activity_c"
            android:parentActivityName=".activities.scenario2.ActivityBScenario2"/>
        <activity android:name=".activities.scenario2.ActivityDScenario2"
                  android:label="@string/lablel_activity_d"
            android:parentActivityName=".activities.scenario2.ActivityCScenario2"/>
    </application>

</manifest>